.service {
    height: 100vh;
    background-color: var(--blue);
    color: var(--white);
    padding: 250px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    & > img {
        position: absolute;
        top: calc(50% - 410px);
        right: -100px;
    }

    &__container {
    }

    &__title {
        margin-bottom: 42px;
        position: relative;
    }

    &__grid {
        &_item {
            position: relative;
            height: 200px !important;
            display: flex !important;
            align-items: flex-end !important;
            border-radius: 6px;
            overflow: hidden;

            &:hover {
                .service__grid_item-content {
                    max-height: 201px;
                }
                p {
                    max-height: 201px;
                    visibility: visible;
                    opacity: 1;
                    padding-top: 12px;
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_item-content {
            position: relative;
            background-color: rgba($color: #000000, $alpha: 0.6);
            padding: 20px 24px;
            max-height: 86px;
            height: 100%;
            transition: 0.3s ease all;

            p {
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s ease all;
                padding-top: 0px;
                line-height: 140%;
            }
        }

        &_item-title {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__swiper {
        position: relative;
    }

    &__wrapper {
    }

    &__pagination {
        display: none;
    }

    &__down {
        display: none;
    }

    .swiper-pagination-bullet {
        background-color: rgba($color: #fff, $alpha: 0.2);
        opacity: 1;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: var(--white);
        width: 18px;
        height: 18px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 1px;
            left: 1px;
            background-color: var(--white);
            border-radius: 50%;
            border: 3px solid var(--blue);
        }
    }
}

@media (max-width: 767px) {
    .service {
        height: 100vh;
        background-color: var(--blue);
        color: var(--white);
        padding: 250px 0px 0px 0px;

        position: relative;
        & > img {
            position: absolute;
            top: calc(50% - 265px);
            right: -181px;
            height: 529px;
            width: 524px;
        }

        &__container {
        }

        &__title {
            margin-bottom: 42px;
            position: relative;
        }

        &__grid {
            &_item {
                position: relative;
                height: 200px !important;
                display: flex !important;
                align-items: flex-end !important;
                border-radius: 6px;
                overflow: hidden;
                user-select: none;

                &.active {
                    .service__grid_item-content {
                        max-height: 201px;
                    }
                    p {
                        max-height: 201px;
                        visibility: visible;
                        opacity: 1;
                        padding-top: 12px;
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &_item-content {
                position: relative;
                background-color: rgba($color: #000000, $alpha: 0.6);
                padding: 20px 24px;
                max-height: 86px;
                height: 100%;
                transition: 0.3s ease all;

                p {
                    max-height: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s ease all;
                    padding-top: 0px;
                    line-height: 140%;
                }
            }

            &_item-title {
                font-size: 20px;
                font-weight: 700;
            }
        }

        &__swiper {
            position: relative;
        }

        &__wrapper {
        }

        &__pagination {
            bottom: -41px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 22px;
        }

        &__down {
            h3 {
                text-transform: uppercase;
            }
        }

        .swiper-pagination-bullet {
            background-color: rgba($color: #fff, $alpha: 0.2);
            opacity: 1;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: var(--white);
            width: 18px;
            height: 18px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                top: 1px;
                left: 1px;
                background-color: var(--white);
                border-radius: 50%;
                border: 3px solid var(--blue);
            }   
        }
    }
}