$s: 16px;
$m: 24px;
$xl: 32px;
$xxl: 48px;

.mobile-only {
    display: none !important;
}

.title {
    font-family: var(--roboto-slab);
    font-weight: 600;
    font-size: 40px;
}

.page-title {
    font-size: 72px;
    font-family: var(--roboto-slab);
    font-weight: 600;
}

@media (max-width: 767px) {
    .mobile-only {
        display: flex !important;
    }
    .desktop-only {
        display: none !important;
    }
    .down {
        flex-direction: column;
        align-items: center;
        gap: 6px;
        position: absolute;
        bottom: 24px;
        left: 0;
        width: 100%;
        cursor: pointer;

        h3 {
            font-size: 14px;
            font-family: var(--roboto-slab);
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .title {
        font-size: 32px;
    }
    .page-title {
        font-size: 32px;
    }
}
