:root {
	// Семейство шрифта по умолчанию
	--roboto: 'Roboto';
	--roboto-slab: 'RobotoSlab';

	// Цвет шрифта по умолчанию
	--white: #ffffff;
	--grey-1: #F5F5F6;
	--grey-2: #E0E0E0;
	--grey-3: #D3D3D3;
	--blue: #253E70 ;
	--dark-blue: #15213B ;
	--red: #FF0108;
}