<section class="content">
    <div class="content__container">
        <p style="color: var(--blue)">
            IP-телефонные аппараты – это современный и эффективный метод связи,
            уверенно вытесняющий ставшие привычными звонки с использованием
            стационарных устройств, подключенных к АТС
        </p>
        <p>
            Эта технология базируется на передаче сигнала посредством сети
            интернет при помощи протокола IP. Самым простым примером применения
            этого метода связи является установка на мобильное устройство
            специального софта, такого как Viber или Skype. Благодаря
            универсальности современных мобильников такой способ очень
            распространен на бытовом уровне, однако он лишен многих преимуществ.
        </p>
        <p>
            Для решения узконаправленных задач в этой области были созданы
            специализированные протоколы под общим названием VoIP. Эта
            аббревиатура расшифровывается как «Voice over Internet Protocol»,
            т.е. «голос через интернет-протокол». Строго говоря, название не
            совсем соответствует истине, так как этот метод связи обладает более
            широкими возможностями, чем просто передача голоса.
        </p>
        <p>
            В Узбекистане VoIP-телефоны часто приобретают предприниматели,
            работающие в международном бизнесе. Номер IP-телефона не имеет
            географической привязки к конкретному адресу и может использоваться
            в любой точке мира, где есть подключение к интернету.
        </p>
        <ul>
            <p style="color: var(--blue)">
                Стоимость IP-телефонов в Ташкенте заметно превышает цену на
                обычные телефонные аппараты, однако такая покупка компенсируется
                расширенным функционалом и снижением расходов на междугороднюю и
                международную связь. Этот вид телефонов обладает следующими
                особенностями:
            </p>
            <li>
                Бесплатные звонки внутри сети. Владелец IP-телефона может
                позвонить из Узбекистана абоненту, находящемуся практически в
                любой точке земного шара и понести при этом минимальные расходы
                на оплату интернета.
            </li>
            <li>
                Звонок на стационарный или мобильный телефон производится через
                шлюз поставщик услуг обычно взимает дополнительную плату
                согласно тарифу. Расстояние здесь не имеет значения, поэтому
                даже в такой ситуации использование ИП-телефонов является
                экономически выгодным.
            </li>
            <li>
                Глубокий, расширенный функционал с впечатляющим списком
                дополнительных возможностей. IP-телефония может быть
                интегрирована с разнообразным программным обеспечением и
                интернет-сервисами. Использование многоканального номера
                позволяет одновременно обрабатывать множество звонков.
                Существует возможность организации конференц-связи по защищенным
                каналам с использованием видеосигнала. Голосовое меню,
                электронный факс, ведение статистики соединений – список
                возможностей -телефонов очень обширен и постоянно увеличивается.
            </li>
        </ul>
    </div>
</section>
