<section class="custom" id="custom" data-ignore="true" data-index="dark">
    <div class="custom__container">
        <div class="delivery-service">
            <img src="../img/svg/custom.svg" alt="custom" />
            <div class="delivery-service__content">
                <h2 class="delivery__service-title title">Сервис</h2>
                <div class="delivery__service-subtitle">
                    Ремонт и сервисное обслуживание специализированного
                    оборудования CUSTOM (Италия)
                </div>
            </div>
            <div class="delivery-service__image">
                <img src="../img/webp/delivery01.webp" alt="delivery" />
            </div>
        </div>
    </div>
    <a href="#delivery" class="custom__down mobile-only down">
        <img
            src="../img/svg/chevron-down-white.svg"
            alt="double-chevron-down"
        />
        <h3>поставка и монтаж</h3>
    </a>
</section>
