<section class="delivery" id="delivery" data-index="dark">
    <div class="delivery__container">
        <div class="delivery-service">
            <img src="../img/svg/custom.svg" alt="custom" />
            <div class="delivery-service__content">
                <h2 class="delivery__service-title title">Сервис</h2>
                <div class="delivery__service-subtitle">
                    Ремонт и сервисное обслуживание специализированного
                    оборудования CUSTOM (Италия)
                </div>
            </div>
            <div class="delivery-service__image">
                <img src="../img/webp/delivery01.webp" alt="delivery" />
            </div>
        </div>
    </div>
    <div class="delivery__delivery">
        <div class="delivery__container">
            <div class="delivery__content">
                <div class="delivery__title title">Поставка и монтаж</div>
                <div class="delivery__text">
                    Оборудование и материалы непосредственно от производителей
                </div>
            </div>
            
        </div>
    </div>
    <a href="#facts" class="delivery__down mobile-only down">
        <img
            src="../img/svg/double-chevron-down.svg"
            alt="double-chevron-down"
        />
        <h3>факты о компании</h3>
    </a>
</section>
