<section class="facts" id="facts">
    <img src="../img/webp/facts-bg.webp" alt="facts-bg" />
    <div class="facts__container">
        <h2 class="facts__title title">Факты о компании</h2>
        <div class="facts__grid">
            <div class="facts__grid_item">
                <h3>10</h3>
                <p>лет опыта на рынке Узбекистана</p>
            </div>
            <div class="facts__grid_item">
                <h3>23</h3>
                <p>Электромонтажные работы. <span>25 объектов</span></p>
            </div>
            <div class="facts__grid_item">
                <h3>332</h3>
                <p>Пуско-наладочные работы. <span>350 объектов</span></p>
            </div>
            <div class="facts__grid_item">
                <h3>205</h3>
                <p>Систем оповещения установлено. <span>220 объектов</span></p>
            </div>
        </div>
        <a href="#license" class="facts__down mobile-only down">
            <img
                src="../img/svg/double-chevron-down.svg"
                alt="double-chevron-down"
            />
            <h3>лицензии и сертификаты</h3>
        </a>
    </div>
</section>
