<section class="gallery" data-index="dark">
    <div class="gallery__container">
        <div class="gallery__titlebox">
            <div class="gallery__title title">Галерея</div>
            <div class="gallery__navigations">
                <svg
                    class="gallery__navigations_prev"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19 12H5M5 12L12 19M5 12L12 5"
                        stroke="#253E70"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <svg
                    class="gallery__navigations_next"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 12H19M19 12L12 5M19 12L12 19"
                        stroke="#253E70"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </div>
        <div class="gallery__swiper swiper-container">
            <div class="gallery__wrapper swiper-wrapper">
                <div class="gallery__slide swiper-slide">
                    <img src="../img/webp/gallery01.webp" alt="gallery">
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/webp/gallery02.webp" alt="gallery">
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/webp/gallery03.webp" alt="gallery">
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/webp/gallery01.webp" alt="gallery">
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/webp/gallery02.webp" alt="gallery">
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/webp/gallery03.webp" alt="gallery">
                </div>
            </div>
        </div>
    </div>
</section>
