<header class="header header-white-wrapper">
    <div class="header__container desktop-only">
        <a href="index.html" class="header__logo mobile-only">
            <img src="../img/webp/logo-mobile.webp" alt="logo" />
        </a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__list_item desktop-only">
                    <a href="##">О компании</a>
                </li>
                <li class="header__list_item desktop-only">
                    <a href="##">Контакты</a>
                </li>
                <li class="header__list_item search ">
                    <a href="##"
                        ><span class="desktop-only">Поиск</span>
                        <img src="../img/svg/search.svg" alt="search"
                    /></a>
                </li>
                <li class="header__list_item desktop-only">
                    <a href="tel:+998712673725">+998 71 267 37 25</a>
                </li>
                <li class="header__burger mobile-only">
                    <span></span>
                </li>
                <div class="header__list_search header-search">
                    <div class="header__list_search-wrapper">
                        <input placeholder="Поиск" name="search" type="search">
                        <img class="search-close" src="../img/svg/input-close.svg" alt="input-close">
                    </div>
                </div>
            </ul>
        </nav>
    </div>
    <div class="sidebar__wrapper mobile-only white-header">
        <div class="sidebar__logo">
            <a href="index.html"
                ><img src="../img/webp/logo.webp" alt="logo" />
            </a>
        </div>
        <div class="sidebar__search mobile-only">
            <img src="../img/svg/search-blue.svg" alt="search">
        </div>
        <div class="header__burger mobile-only">
            <span></span>
        </div>
        <div class="header__list_search mobile-only sidebar-search">
            <div class="header__list_search-wrapper">
                <input placeholder="Поиск" name="search" type="search">
                <img class="search-close" src="../img/svg/input-close.svg" alt="input-close">
            </div>
        </div>
    </div>
</header>
