<section class="main">
    <img src="../img/webp/main-bg.webp" alt="background" class="main__bg" />
    <div class="main__container">
        <h1 class="main__title">Монтаж систем безопасности</h1>
        <div class="main__subtitle subtitle">
            <span>Проект под любой бюджет.</span>
            <span>Строительство видеосистем под ключ.</span>
            <span>Только проверенное оборудование.</span>
        </div>
        <div class="main__swiper swiper-container">
            <div class="main__wrapper swiper-wrapper">
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner01.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner02.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner03.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner04.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner05.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner06.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner07.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner01.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner02.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner03.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner04.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner05.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner06.webp" alt="inform-texnika">
                </div>
                <div class="main__slide swiper-slide">
                    <img src="../img/webp/partner07.webp" alt="inform-texnika">
                </div>
            </div>
        </div>
        <div class="main__down mobile-only down">
            <img src="../img/svg/double-chevron-down.svg" alt="double-chevron-down">
            <h3>Наши услуги</h3>
        </div>
    </div>
</section>
