<section class="partners" data-index="dark">
    <div class="partners__container">
        <div class="partners__title title">Наши партнеры</div>
        <div class="partners__slider">
            <div class="partners__track">
                <div class="partners__slide"><img src="../img/no-optimize/partner01.png" alt="slide" /></div>
                <div class="partners__slide"><img src="../img/no-optimize/partner02.png" alt="slide" /></div>
                <div class="partners__slide"><img src="../img/no-optimize/partner03.png" alt="slide" /></div>
                <div class="partners__slide"><img src="../img/no-optimize/partner04.png" alt="slide" /></div>
                <div class="partners__slide"><img src="../img/no-optimize/partner05.png" alt="slide" /></div>
                <div class="partners__slide"><img src="../img/no-optimize/partner06.png" alt="slide" /></div>
                <div class="partners__slide"><img src="../img/no-optimize/partner07.png" alt="slide" /></div>
                <!-- Duplicates for seamless loop -->
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner01.png" alt="" /></div>
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner02.png" alt="" /></div>
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner03.png" alt="" /></div>
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner04.png" alt="" /></div>
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner05.png" alt="" /></div>
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner06.png" alt="" /></div>
                <div class="partners__slide" aria-hidden="true"><img src="../img/no-optimize/partner07.png" alt="" /></div>
            </div>
        </div>
    </div>
</section>