<section class="service" id="service">
    <img src="../img/svg/vector.svg" alt="vector" />
    <div class="service__container">
        <div class="service__title title">Наши услуги</div>
        <div class="service__grid service__swiper swiper-container">
            <div class="service__wrapper swiper-wrapper">
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service01.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Проектирование и внедрение
                        </h3>
                        <p>
                            Проектирование и строительство структурированных
                            кабельных сетей (СКС)
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service02.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">Системы связи</h3>
                        <p>
                            Обеспечение информационным и технологическим
                            взаимодействием между устройствами и пользователями.
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service03.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Сети передачи данных
                        </h3>
                        <p>
                            СКС и интеллектуальные СКС (ИСКС), Беспроводные сети
                            передачи данных, Системы управления и мониторинга
                            сетью. Проектирование и строительство сетей передачи
                            данных (СПД)
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service04.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Системы управляемого доступа (СКУД)
                        </h3>
                        <p>
                            Проектирование, монтаж, обслуживание систем
                            управляемого доступа (СКУД)
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service05.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Видеонаблюдение
                        </h3>
                        <p>
                            Проектирование и строительство систем
                            видеонаблюдения, интегрированных в единую систему
                            безопасности
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service06.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Охрана периметра
                        </h3>
                        <p>
                            Комплекс средств и мероприятий, предназначенных для
                            предотвращения несанкционированного проникновения на
                            территорию объекта нарушителя.
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service07.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Источник бесперебойного питания (ИБП)
                        </h3>
                        <p>
                            Обеспечение надёжного питания оборудования при
                            отключении электроэнергии.
                        </p>
                    </div>
                </div>
                <div class="service__grid_item swiper-slide">
                    <img src="../img/webp/service08.webp" alt="service" />
                    <div class="service__grid_item-content">
                        <h3 class="service__grid_item-title">
                            Пожарная сигнализация и пожаротушение
                        </h3>
                        <p>
                            Проектирование, монтаж, наладка, ремонт и
                            техническое обслуживание средств противопожарной
                            автоматики охранно-пожарной сигнализации
                        </p>
                    </div>
                </div>
            </div>
            <div class="service__pagination swiper-pagination"></div>
        </div>
        <a href="#custom" class="service__down mobile-only down">
            <img src="../img/svg/double-chevron-down.svg" alt="double-chevron-down">
            <h3>сервис</h3>
        </a>
    </div>
</section>
