@use "base/reset";
@use "base/fonts";
@use "base/vars";
@use "base/root";
@use "base/mixin" as *;
@use "base/common";
@use "components/main";
@use "components/sidebar";
@use "components/header";
@use "components/service";
@use "components/delivery";
@use "components/facts";
@use "components/license";

[class*="__container"] {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0px 15px;
    min-width: 0;
}
body {
    color: 20px;
    font-family: var(--roboto);
}
